name: Build and publish to deploy branch

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies (no lock file)
        run: npm install --no-package-lock

- name: Build
  run: |
    cd app
    npm run build

     - name: Deploy dist to deploy branch
  run: |
    git config user.name "github-actions"
    git config user.email "actions@github.com"
    git checkout --orphan deploy
    git rm -rf .
    mv app/dist/* .
    git add .
    git commit -m "Deploy build"
    git push -f origin deploy
